[user]
  name = juancwu
  email = 46619361+juancwu@users.noreply.github.com
  signingkey = /home/jc/.ssh/id_ed25519.pub

[init]
	defaultBranch = main

[pull]
	rebase = true

[gpg]
  format = ssh

[commit]
  gpgsign = true
